<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th.replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}">This is title</title>
<!--    <link rel="stylesheet" href="style.css">-->
</head>
<body>
<!--<script src="index.js"></script>-->
    <section>
        <h1>this is home page</h1>
        <h1>We are building springboot project</h1>
    </section>
</body>
</html>
